/*$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
*/

@import "abstracts/functions";

@import "abstracts/variables";

@import "abstracts/mixins";


@import "base/base";

@import "base/animation";

@import "base/typograpgy";

@import "base/utilities";


@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/card";

@import "layout/header";

@import "layout/grid";


@import "pages/home";


