//colors
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$al: 0.8;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-third-light:#2998ff;
$color-third-dark:#5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

//Font
$def-fz:1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;